

    div{
      margin: 0 auto;
      width: 33%;
    }
      h1
      {
        padding:2px;
        text-align:center;
        color: red;
        border: 4px outset #512A09;
        background-image:url("../images/Wood.jpg")
      }

      p
      {
        color:red;
        font-weight: bold;
      }

      html { 
  background: url(../images/crystalBall.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

      /*body
      {
        background-image: url("../images/crystalBall.jpg");
        
      }*/